<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>TP3 Leonardo Cazon</title>


<style>
	table{
		border: 1px solid black;
		border-spacing: 5px;
	}
	th{
		border: 1px solid black;
	}


</style>

</head>

<body>
	<header>
		<h1>Programacion Visual</h1>
	</header>

	<nav>
		<ul>
			<li><a href="#HTML">HTML</a></li>
			<li><a href="#CSS">CSS</a></li>
			<li><a href="#Java">Java</a></li>
			
		</ul>
	</nav>

	<main>
	
		<section id="HTML">
			<h2>HTML (Lenguaje de Marcado de Hipertexto)</h2>
			<h3>Introduccion a HTML</h3>
			<p>HTML (HyperText Markup Language) es el lenguaje estándar utilizado para crear páginas web. 
			Proporciona una estructura básica para el contenido web, permitiendo a los desarrolladores 
			definir el significado y la estructura de los elementos en una página.</p>
			
			<p>HTML utiliza etiquetas para definir diferentes tipos de elementos en una página web, como 
			encabezados, párrafos, enlaces, imágenes, formularios, listas, entre otros. Estas etiquetas se
			 organizan en una estructura jerárquica que define la disposición y el contenido de la página.</p>
			<table>
				<thead>
					<tr>
						<th>Lenguaje</th>
						<th>Caracteristica 1</th>
						<th>Caracteristica 2</th>
						<th>Caracteristica 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>HTML</th>
						<th>Estructura de Página Web: HTML proporciona una estructura básica para crear 
						páginas web, permitiendo a los desarrolladores definir la estructura y el contenido 
						de una página mediante una variedad de elementos como encabezados, párrafos, listas, 
						imágenes, enlaces, entre otros.</th>
						<th>Semántica: HTML ofrece una amplia gama de elementos semánticos que permiten a 
						los desarrolladores describir con precisión el significado y la función de cada 
						parte de una página web, lo que mejora la accesibilidad y la indexabilidad por parte 
						de los motores de búsqueda.</th>
						<th>Interactividad: Aunque originalmente diseñado para crear documentos estáticos, 
						HTML se ha expandido con el tiempo para incluir elementos y atributos que permiten 
						agregar interactividad a las páginas web, como formularios, controles de entrada 
						de usuario y contenido multimedia.</th>
					</tr>
				</tbody>
				
			</table>
		</section>
		
		
		<section id="CSS">
			<h2>CSS (Hojas de Estilo en Cascada)</h2>
			<h3>Introducción a CSS</h3>
			<p>CSS (Cascading Style Sheets) es un lenguaje utilizado para definir el estilo y la 
			presentación de los documentos HTML. Permite a los desarrolladores controlar la apariencia de 
			los elementos HTML, como colores, fuentes, márgenes, tamaños y diseños.</p>
			<p>CSS funciona mediante la asociación de reglas de estilo con elementos HTML utilizando 
			selectores. Estas reglas especifican cómo deben mostrarse los elementos en la página, y 
			pueden aplicarse a elementos individuales, grupos de elementos o a la página en su conjunto.</p>
			<table>
				<thead>
					<tr>
						<th>Lenguaje</th>
						<th>Caracteristica 1</th>
						<th>Caracteristica 2</th>
						<th>Caracteristica 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>CSS</th>
						<th>Estilización de Elementos: CSS permite a los desarrolladores definir el estilo 
						y la presentación de los elementos HTML, incluyendo propiedades como color, fuente, 
						tamaño, margen, borde y disposición, lo que facilita la creación de páginas web con 
						un diseño atractivo y coherente.</th>
						<th>Selectores y Reglas de Estilo: CSS utiliza selectores para aplicar reglas de 
						estilo a elementos específicos en una página web. Los desarrolladores pueden 
						utilizar una variedad de selectores para dirigirse a elementos individuales, 
						grupos de elementos o elementos basados en sus atributos, lo que proporciona un 
						alto grado de control sobre la apariencia de una página.</th>
						<th>Responsive Design: CSS ofrece técnicas y herramientas para crear páginas web 
						responsivas que se adaptan automáticamente a diferentes tamaños de pantalla y 
						dispositivos, lo que garantiza una experiencia de usuario consistente y 
						optimizada en computadoras de escritorio, tabletas y teléfonos móviles.</th>
					</tr>
				</tbody>
				
			</table>
		</section>
		
		<section id="Java">
			<h2>Java</h2>
			<h3>Introducción a Java</h3>
			<p>Java es un lenguaje de programación de propósito general, conocido por su portabilidad, 
			orientación a objetos y seguridad. Se utiliza ampliamente en el desarrollo de aplicaciones 
			empresariales, aplicaciones web, aplicaciones móviles y sistemas embebidos.</p>
			<p>Java se distingue por su capacidad de escribir una vez y ejecutar en cualquier lugar (WORA), 
			lo que significa que el código escrito en Java puede ejecutarse en cualquier plataforma que 
			tenga una máquina virtual Java (JVM) instalada.</p>
			
			<table>
			
				<thead>
					<tr>
						<th>Lenguaje</th>
						<th>Caracteristica 1</th>
						<th>Caracteristica 2</th>
						<th>Caracteristica 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Java</th>
						<th>Portabilidad: Java es conocido por su capacidad de escribir una vez y ejecutar 
						en cualquier lugar (WORA), lo que significa que el código Java puede ejecutarse en 
						cualquier plataforma que tenga una máquina virtual Java (JVM) instalada, lo que 
						facilita el desarrollo de aplicaciones multiplataforma.</th>
						<th>Orientación a Objetos: Java es un lenguaje orientado a objetos, lo que significa 
						que todo en Java es un objeto que pertenece a una clase. Esto promueve un diseño 
						modular y reutilizable, facilita la encapsulación y el polimorfismo, y permite a 
						los desarrolladores crear aplicaciones complejas con un código claro y 
						estructurado.</th>
						<th>Seguridad: Java está diseñado con un enfoque en la seguridad, con 
						características como el modelo de sandbox de Java que restringe el acceso a 
						ciertos recursos del sistema operativo y previene la ejecución de código malicioso. 
						Esto hace que Java sea popular para el desarrollo de aplicaciones seguras, como 
						aplicaciones empresariales y aplicaciones de servicios financieros.</th>
					</tr>
				</tbody>
			</table>
		</section>
	
	</main>

	<aside>
		<br>
		<br>
		<a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start" target="_blank"><img alt="logo" src="/img/logo.png"></a>
	</aside>

	<footer>
  		<h3>Soporte De La Pagina</h3>
 		<p>Correo electrónico: suportOficial@gmail.com</p>
  	 	<p>Teléfono: +123456789</p>

  		<h3>Redes Sociales(Redes Ficticias)</h3>
    		<ul>
       		  	<li><a href="https://www.facebook.com/soporte" target="_blank">Facebook Oficial</a></li>
        	   	<li><a href="https://twitter.com/soporte" target="_blank">Twitter Oficial</a></li>
        	  	<li><a href="https://www.instagram.com/soporte" target="_blank">Instagram Oficial</a></li>
     	 	</ul>
	</footer>

</body>

</html>